.login-register-button {
	background-color: #333333;
	color: aliceblue;
	border-radius: 11px;
	border: 1px solid;
	display: flex;
	text-align: center;
	height: 39px;
	width: 224px;
	justify-content: center;
	align-items: center;
	transition: 0.5ms;
	padding: 10px;
}

.login-register-button:hover {
	background-color: gray;
}

.google-logo {
	height: 20px;
	width: 20px;
	margin-right: 10px;
}

.menu-button {
	background: none;
	border: none;
	margin-left: 25px;
	border-radius: 50%;
	transition: 1ms;
}

.menu-button:hover {
	background-color: rgb(79, 79, 79);
}

.menu-button:active {
	background-color: gray;
}

.logout-button {
	background: none;
	border: none;
	color: white;
	font-size: large;
	margin: 0;
	padding: 0;
	color: red;
}

.logout-button:hover {
	color: rgba(255, 0, 0, 0.579);
}
