.menu {
	display: none;
	position: absolute;
	list-style-type: none;
}

.menu.active {
	top: 100%;
	margin: 0;
	padding: 0;
	margin-top: 23px;
	display: block;
	background-color: #2f2f32;
	width: 120px;
}

.container-menu {
	position: relative;
}

.logo-arrow {
	height: 10px;
	width: 15px;
}
