.container-form {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.title-form {
	text-align: center;
}

.buttons {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 5px;
}

.labels {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
