.login-register-button {
	background-color: #333333;
	color: aliceblue;
	border-radius: 11px;
	border: 1px solid;
	display: flex;
	text-align: center;
	height: 39px;
	width: 224px;
	justify-content: center;
	align-items: center;
	transition: 0.5ms;
	padding: 10px;
}

.login-register-button:hover {
	background-color: gray;
}

.google-logo {
	height: 20px;
	width: 20px;
	margin-right: 10px;
}
