.container-table {
	background-color: #f8f8f8;
	border-radius: 50px;
	height: 350px;
	width: 550px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px 30px 10px;
	box-shadow: 0 0 100px rgb(255, 255, 255);
	gap: 10px;
}
